.moreContainer {
  background-color: #f6f6f6;
}

.moreBottomContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets//images/Banner.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ourpage Container start */

.OurpageContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 50px 200px;
  text-align: center;
}

.ourPageBottomContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 20px;
  align-items: center;
}
.ourPageContainerCard {
  width: 600px;
  padding-top: 18px;
}

.ourPageCardName {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  font-family: "OpenSans-Medium";
}

.productsContainerCardsBottomDesc {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  font-family: "OpenSana-Light";
}

.productsContainerCardsBottomDesc h3 {
  border-right: 1px solid #bbb;
  padding-right: 20px;
  font-family: "OpenSans-Light";
  font-size: 16px;
}

/* ourPage Container End */

/*---- Media start------- */

/* Tablet Start */
@media screen and (min-width: 428px) and (max-width: 768px) {
  .OurpageContainer {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px 40px;
    text-align: center;
    background-color: #ededed;
  }

  .ourPageCardName {
    text-align: center;
    padding-top: 15px;
  }
  .ourPageContainerCard {
    width: 100%;
  }
}
/* Tablet End */

/* Mobile start */
@media screen and (max-width: 428px) {
  .OurpageContainer {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px 10px;
    text-align: center;
    background-color: #ededed;
  }

  .ourPageCardName {
    text-align: center;
    padding-top: 15px;
  }
  .ourPageContainerCard {
    width: 100%;
  }

  .OurpageContainerHeading h3 {
    font-family: "OpenSans-Light";
    font-size: 30px;
    font-weight: normal;
  }
}

/* Mobile End */
/*-------Media End----- */
