.mobileNavbarContainer {
  display: none;
}

@media screen and (max-width: 428px) {
  .mobileNavbarInsideContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 50px;
    justify-content: space-between;
    font-size: 25px;
    background-color: #fff;
    width: 100%;
    text-align: center;
  }

  .mobileNavbarContainer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index:1;
  }
  .mobileNavbarInsideContainer h5 {
    color: #747474;
    font-family: Arial;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .mobileNavbarInsideContainer span {
    opacity: 0.6;
  }

  .navbarMenu {
    position: relative;
  }

  .navberMenuItems {
    position: absolute;
    width: 100%;
    bottom: 66px;
    left: 0;
    animation: animation 0.5s  linear;
    z-index:-1;
  }

  .navberMenuItems p{
    font-family:Arial;
    font-size: 16px;
    padding:10px 20px;
    background-color: #fff;
    width:100%;
    text-align: start;
  }

  @keyframes animation
  {
    0%{
      transform: translateY(100px);
    }

    100%{
      transform: translateX(0px);
    }
  }
}
