* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("../src/assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans-Medium;
  src: url("../src/assets/fonts/OpenSans-Medium.ttf");
}

@font-face {
  font-family: OpenSans-Light;
  src: url("../src/assets/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: HelveticaNeue-Medium;
  src: url("../src/assets/fonts/HelveticaNeue\ Medium.ttf");
}

@font-face {
  font-family: OpenSans_Condensed-Light;
  src: url("../src/assets/fonts/OpenSans_Condensed-Light.ttf");
}
